<div class="container" mx-auto>
    <div class="d-flex justify-content-between py-2">
        <h1>
            <%= @task.title %>
        </h1>
        <div class="btn btn-secondary">
            <%= link_to 'Edit', edit_task_path(@task), :class => "btn" %>
        </div>
    </div>
    <div class="alert alert-secondary" role="alert">
        <%= @task.details %>
    </div>
    <p class="details"><i class="fas fa<%= '-check' if @task.completed %>-square"></i>
        That task is
        <%= 'completed' if @task.completed  %>
        <%= 'NOT completed' if @task.completed == false %>
    </p>
    <p class="link-border">
        <%= link_to "Back to Tasks", root_path %>
        <%= link_to "Delete #{@task.title}",
    task_path(@task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    </p>
</div>